body,
html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('./img.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px auto 0; */
}

@media (max-width: 990px) {
  .center img {
    max-width: 350px;
    max-height: 350px;
    margin: auto;
  }
}
.card {
  transition: transform 0.8s ease;
}
.card:hover {
  transition: 0.8s;
  transform: scale(1.1);
  box-shadow: 6px 6px #d3d3d3;
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #5d6266;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.scrollButton {
  z-index: 200;
  position: fixed;
  bottom: 0;
  transition: opacity 0.3s ease;
}

.dropdown-item:hover {
  cursor: pointer;
}

.formRoot {
  display: flex;
}

.modal-content {
  position: absolute;
  width: 850px;
  margin-left: -175px;
}
.form-control {
  margin-bottom: 8px;
}

.form-child-left {
  width: 467px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
.card {
  margin: 20px;
  width: 320px;
  height: 490px;
  border-radius: 50px;
  border: 1px solid transparent;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: 130%;
  height: 31vh;
  margin-left: -15%;
  object-fit: cover;
  margin-top: -2%;
}

.card:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
.text {
  margin-top: -5%;
}
.footer1 {
  margin-top: -5%;
}
.text4 {
  margin-top: 2%;
  text-align: center;
}
hr {
  width: 116%;
  margin-left: -8%;
  margin-top: -1%;
}
.text1 {
  margin-top: -4%;
}
