body,
html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('./img.jpg');

  /* Full height */
  height: 95vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* margin: 10px auto 0; */
}

@media (max-width: 990px) {
  .center img {
    max-width: 350px;
    max-height: 350px;
    margin: auto;
  }
}
.card {
  transition: transform 0.8s ease;
}
.card:hover {
  transition: 0.8s;
  transform: scale(1.1);
  box-shadow: 6px 6px #d3d3d3;
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #5d6266;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.scrollButton {
  z-index: 200;
  position: fixed;
  bottom: 0;
  transition: opacity 0.3s ease;
}

.dropdown-item:hover {
  cursor: pointer;
}
