body,
html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("./img.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px auto 0; */
}

@media (max-width: 990px) {
  .center img {
    max-width: 350px;
    max-height: 350px;
    margin: auto;
  }
}
.card{
  transition: transform .8s ease;
}
.card:hover{
  transition: .8s;
  transform: scale(1.1);
  box-shadow: 6px 6px #D3D3D3;
}

.dropdown-item:hover{
cursor: pointer;
}
